<app-navbar>

</app-navbar>


<app-highlight>
    
</app-highlight>



<div class="absolute flex items-start justify-center w-full p-0 flex-nowrap">
    <div class="flex flex-col items-center px-4 mx-auto">
        <div class="flex items-start justify-center py-8">
            <h2 class="text-2xl font-bold font-anonymous text-color">Roam and Discover</h2>
        </div>
        <div class="w-full my-0">
            <div class="flex flex-wrap justify-center max-w-4xl">
                <app-destination-box [imageURL]="'https://picsum.photos/400/300'" [destinationName]="'Restaurant1'">
                </app-destination-box>
                <app-destination-box [imageURL]="'https://picsum.photos/400/300'" [destinationName]="'Restaurant2'">
                </app-destination-box>
                <app-destination-box [imageURL]="'https://picsum.photos/400/300'" [destinationName]="'Restaurant2'">
                </app-destination-box>
                <app-destination-box [imageURL]="'https://picsum.photos/400/300'"
                    [destinationName]="'Restaurant2'"></app-destination-box>
                <app-destination-box [imageURL]="'https://picsum.photos/400/300'"
                    [destinationName]="'Restaurant2'"></app-destination-box>
                <app-destination-box [imageURL]="'https://picsum.photos/400/300'"
                    [destinationName]="'Restaurant2'"></app-destination-box>
                <app-destination-box [imageURL]="'https://picsum.photos/400/300'"
                    [destinationName]="'Restaurant2'"></app-destination-box>
                <app-destination-box [imageURL]="'https://picsum.photos/400/300'"
                    [destinationName]="'Restaurant2'"></app-destination-box>
                <app-destination-box [imageURL]="'https://picsum.photos/400/300'"
                    [destinationName]="'Restaurant2'"></app-destination-box>

            </div>
        </div>
    </div>
</div>