<div class="flex flex-nowrap">
  <div
    class="relative flex w-full lg:max-w-xl min-w-[80vw] xs:min-w-[auto] flex-nowrap"
  >
    <input
      class="w-full py-2 pl-12 pr-4 text-lg placeholder-gray-400 bg-transparent border-none rounded-lg shadow-inner outline-none font-poppins focus:border-none text-textDark"
      type="text"
      placeholder="{{ placeholder }}"
      #searchbox
      [(ngModel)]="searchvalue"
    />
    <i
      class="absolute transform -translate-y-1/2 -z-20 top-1/2 left-4 pi pi-search"
      [ngClass]="{
        'text-textDark': searchbox.value,
        'text-gray-400': !searchbox.value
      }"
    ></i>
    <div class="absolute right-0">
      <app-button
        (click)="searchInput()"
        color="primary"
        text="Search"
      ></app-button>
    </div>
  </div>
</div>
