<div
  class="flex flex-row w-full min-w-full gap-16 p-0 m-0 overflow-hidden flex-nowrap"
>
  <div class="flex-col flex p-0 m-0 min-w-[60%] z-10">
    <div class="ml-5 md:ml-20 sm:ml-12">
      <h1 class="text-3xl xs:text-5xl font-alice xl:text-7xl whitespace-nowrap">
        You've got the cravings. <br />
        We've got the spots.
      </h1>
      <h3
        class="text-base xl:text-lg font-normal font-poppins max-w-full lg:max-w-[70%] mt-3 text-secondary-background"
      >
        Satisfy your cravings with unique flavors and unforgettable ambiance.
        Discover your new favorite spot today.
      </h3>
    </div>

    <div class="-order-1 lg:order-[revert] ml-5 md:ml-20 sm:ml-12 w-full my-4">
      <app-search-input placeholder="Search for a city..."></app-search-input>
    </div>

    <div
      class="flex ml-20 mt-[10%] py-4 flex-row justify-between max-w-[40%] text-lg lg:text-2xl font-light"
    >
      <div class="text-center font-poppins text-secondary-background">
        <span class="text-xl font-semibold lg:text-3xl">9+</span> <br />
        Cities
      </div>
      <div
        class="ml-5 text-center md:ml-0 font-poppins text-secondary-background"
      >
        <span class="text-xl font-semibold lg:text-3xl">122+</span> <br />
        Restaurants
      </div>
    </div>
  </div>

  <div class="relative inline w-full">
    <img
      src="/assets/images/foodBowlLarge.png"
      class="absolute bottom-0 right-0 max-h-full -z-10"
      alt="foodBowlLarge"
    />
  </div>
</div>
