<div
  class="relative flex flex-col items-center h-auto gap-6 py-6 m-0 shadow-lg w-72 lg:w-80 rounded-2xl bg-textWhite"
>
  <img class="object-cover w-full h-64" src="{{ imageURL }}" alt="Image" />
  <div
    class="flex flex-col items-start justify-center order-1 w-full gap-3 px-6 py-0"
  >
    <h2 class="text-2xl tracking-tighter truncate font-alice text-textDark">
      {{ destinationName }}
    </h2>
    <h2
      class="flex items-center justify-start gap-1 text-sm font-normal text-gray-900 truncate"
    >
      <i class="pi pi-map-marker text-primary"></i> {{ address }}
    </h2>

    <div class="flex flex-row items-center justify-between w-full flex-nowrap">
      <div class="flex flex-row justify-start gap-1">
        <i
          *ngFor="let star of stars; let i = index"
          class="pi text-primary"
          [ngClass]="star"
        >
        </i>
      </div>
      <app-button [color]="saved? 'primary': 'primary-inverse'" icon="pi-bookmark" (buttonClick)="saveDestination()"></app-button>
    </div>
  </div>
</div>
