<div class="relative w-64 h-auto mx-4 my-6 bg-white rounded-md shadow-lg">
    <img class="object-cover w-full h-48 rounded-t-md" src="{{imageURL}}" alt="Image">
    <div class="flex items-baseline justify-around px-4 py-2">
        <h2 class="text-lg font-semibold text-gray-800 truncate">{{destinationName}}</h2>
        <!-- <button
            class="relative px-4 py-2 transition-colors bg-white border border-gray-400 rounded-md group hover:bg-gray-200">
            <i class="font-medium text-gray-700 group-hover:text-gray-900 pi pi-bookmark"></i>
        </button> -->

        <app-button color="primary" icon="pi-bookmark"></app-button>
    </div>
</div>