<div class="flex flex-col justify-center w-full lg:flex-row">
  <div class="flex flex-col items-center justify-start mx-12 mt-12 xl:mt-16 xl:mx-16">
    <img
      class="xs:min-w-[140px] min-w-[80px] w-20 xs:w-36"
      src="/assets/icons/logo.svg"
      alt="Logo"
    />
    <p
      class="items-center max-w-xs px-1 py-3 text-sm font-normal text-center text-gray-500 lg:mb-36 font-poppins"
    >
      Discover delectable dining experiences with Roamr. Indulge your taste buds
      with exquisite cuisines served in extraordinary settings.
    </p>
  </div>

  <div class="relative flex flex-col gap-6 m-12 align-middle lg:gap-32 lg:flex-row -top-2 xl:m-16 whitespace-nowrap">
    <div class="flex flex-col items-start justify-start text-base lg:gap-6 font-poppins">
        <a [routerLink]="'/'" class="font-medium text-textDark hover:underline">Support</a>
        <a [routerLink]="'/'" class="font-normal text-gray-500 hover:underline">Help Centre</a>
        <a [routerLink]="'/'" class="font-normal text-gray-500 hover:underline">Safety Information</a>
        <a [routerLink]="'/'" class="font-normal text-gray-500 hover:underline">Cancellation options</a>
        <a [routerLink]="'/'" class="font-normal text-gray-500 hover:underline">Report Complaint</a>
    </div>
    <div class="flex flex-col items-start justify-start text-base lg:gap-6 font-poppins">
        <a [routerLink]="'/'" class="font-medium text-textDark hover:underline">Community</a>
        <a [routerLink]="'/'" class="font-normal text-gray-500 hover:underline">Customer Review</a>
        <a [routerLink]="'/'" class="font-normal text-gray-500 hover:underline">Newsletter</a>
    </div>
    <div class="flex flex-col items-start justify-start text-base lg:gap-6 font-poppins">
        <a [routerLink]="'/'" class="font-medium text-textDark hover:underline">About</a>
        <a [routerLink]="'/'" class="font-normal text-gray-500 hover:underline">Careers</a>
        <a [routerLink]="'/'" class="font-normal text-gray-500 hover:underline">Blog</a>
        <a [routerLink]="'/'" class="font-normal text-gray-500 hover:underline">Contact</a>
    </div>
  </div>
</div>
