<nav
  class="fixed z-20 flex flex-row flex-wrap items-center justify-between w-full pt-32 text-3xl font-bold align-middle -top-28 font-anonymous pb-7 bg-textWhite"
>
  <div class="z-30 py-0 ml-12 md:ml-16 text-primary">
    <img
      class="xs:min-w-[140px] min-w-[80px] w-20 xs:w-36"
      src="/assets/icons/logo.svg"
      alt="Logo"
    />
  </div>

  <div
    class="flex flex-row items-center justify-between py-0 mr-12 flex-nowrap md:mr-16"
  >
    <div class="items-center hidden xs:flex">
      <a
        [routerLink]="'signup'"
        class="mr-8 text-sm font-light text-primary font-poppins hover:underline"
        >Sign up</a
      ><app-button
        [routerLink]="'/auth'"
        text="Sign in"
        color="primary"
        textSize="sm"
        icon="pi-sign-in"
        #signIn
      ></app-button>
    </div>
    <i
      class="z-30 block font-extrabold pi xs:hidden text-primary-dark"
      [ngClass]="isMenuOpen ? 'pi-angle-right' : 'pi-bars'"
      (click)="toggleMenu()"
    ></i>
  </div>

  <div
    class="absolute top-0 w-screen h-screen transition-transform duration-500 mt-28 menu-container xs:hidden left-full bg-textWhite"
    [ngClass]="{ '-translate-x-full': isMenuOpen }"
  >
    <div
      class="flex flex-col items-center mt-32 list-none text-md menu-items font-poppins gap-7"
    >
      <li>
        <a href="#" class="font-normal text-primary-dark hover:font-extrabold"
          >Sign In</a
        >
      </li>
      <li>
        <a href="#" class="font-extralight hover:font-semibold text-primary"
          >Sign Up</a
        >
      </li>
    </div>
  </div>
</nav>
