<div class="flex flex-col h-auto m-auto flex-nowrap">
  <div class="flex flex-col items-center justify-between">
    <h1
      class="text-3xl font-normal md:text-5xl font-alice text-shadow-md caption-bottom whitespace-nowrap"
    >
      Tasty <span class="text-primary">Treasures</span> Await
    </h1>
    <h4
      class="max-w-[80%] mt-2 text-base text-center text-gray-500 md:max-w-2xl xs:text-lg md:text-xl font-poppins"
    >
      Need a quick and tasty meal? Discover the best restaurants in your area
      that are ready to serve you hot and delicious food.
    </h4>
  </div>
</div>

<div class="flex justify-center mr-0">
  <div class="flex flex-wrap justify-center max-w-6xl gap-8">
    <app-destination-box
      [imageURL]="'https://picsum.photos/400/300'"
      [address]="'testaddress'"
      [destinationName]="'Restaurant2'"
      [starsCount]="0"
    >
    </app-destination-box>
    <app-destination-box
      [imageURL]="'https://picsum.photos/400/300'"
      [address]="'testaddress'"
      [destinationName]="'Restaurant2'"
      [starsCount]="1"
    >
    </app-destination-box>
    <app-destination-box
      [imageURL]="'https://picsum.photos/400/300'"
      [address]="'testaddress'"
      [destinationName]="'Restaurant2'"
      [starsCount]="2"
    >
    </app-destination-box>
    <app-destination-box
      [imageURL]="'https://picsum.photos/400/300'"
      [address]="'testaddress'"
      [destinationName]="'Restaurant2'"
      [starsCount]="3"
    >
    </app-destination-box>
    <app-destination-box
      [imageURL]="'https://picsum.photos/400/300'"
      [address]="'testaddress'"
      [destinationName]="'Restaurant2'"
      [starsCount]="4"
    >
    </app-destination-box>
    <app-destination-box
      [imageURL]="'https://picsum.photos/400/300'"
      [address]="'testaddress'"
      [destinationName]="'Restaurant2'"
      [starsCount]="5"
    >
    </app-destination-box>
  </div>
</div>
